
{% extends "base.html" %}
{% block content %}
    <h1>Что здесь происходит</h1> 
    <p>iTitle — веб-приложение, которое помогает авторам и редакторам IT-публикаций подбирать к текстам удачные заголовки. Текущая версия</b> — это всего лишь <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D0%BD%D0%B8%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE_%D0%B6%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D0%BD%D1%8B%D0%B9_%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82" target="_blank">MVP</a>, но она уже многое умеет. На текущий момент мы уже обработали более 300 {{ titles_count }} заголовков.</p>
    <img src="/static/images/example.gif" class="img-fluid" />
    <p><b>Как работать с ресурсом.</b> Введите в форме на <a href="/">главной странице</a> текущую версию названия публикации. В ответ сайт выдаст рейтинг заголовка, советы по его улучшению и список распознанных меток.</p>

    <p><b>Заголовок — лишь часть текста.</b> Если текст не соответствует названию, оценка не имеет смысла. Наша задача — сделать так, чтобы заголовок прояснял содержание публикации и был интересен для IT-аудитории. Не пытайтесь улучшить заголовок ради более высокого рейтинга. Старайтесь найти релевантный вариант.</p>

    <h2>Как устроено приложение {{ titles_count }}</h2> 

    <p>Мы собрали 300 тыс. публикаций с самых популярных IT-площадок: <a href="https://habr.com/ru/" target="_blank">Хабр</a>, <a href="https://habr.com/ru/" target="_blank">Библиотека программиста</a>, <a href="https://xakep.ru/" target="_blank">Хакер</a>, <a href="https://tproger.ru/" target="_blank">Типичный программист</a> и другие схожие сайты. По собранной информации мы составили и натренировали две модели <a href="https://proglib.io/p/the-simplest-introduction-to-machine-learning/" target="_blank">машинного обучения</a>:
        <ol>
            <li>Модель распознавания именованных сущностей (<a href="https://en.wikipedia.org/wiki/Named-entity_recognition" target="_blank">NER</a>).</li>
            <li>Регрессионная модель оценки текущего заголовка (балл по шкале от 0.0 до 10.0).</li>
        </ol>
    </p>

    <p>Две эти модели взаимодействуют между собой: сначала в тексте находятся характерные индикаторы IT-публикации, по ним выставляется оценка, а по сочетанию индикаторов и оценки даются подсказки для улучшения.
    </p>

    <h2>Какую информацию сохраняет сайт</h2> 
    <p><b>Мы сохраняем только введенные заголовки</b>. Это делается для дальнейшего улучшения качества модели. Отправляя заголовок, вы разрешаете использовать текст заголовка для исследовательских целей. Мы не храним никакой личной информации и не используем cookies.</p>

    <p><b>Предыдущие результаты</b> вашей работы с заголовками хранятся локально в браузере. Чтобы их удалить, раскройте список результатов и нажмите «Очистить список».</p>

    <p><b>Если метки определились некорректно</b>, загляните на сайт позже — мы регулярно дообучаем модель на свежеразмеченных данных.</p>

    <h2>Что мы будем делать дальше</h2>
    <p>Если проект окажется полезным, мы планируем: 
        <ul>
            <li>Создать автоматизированную модель, предлагающую версии заголовка по введенной черновой. Для этого нам нужно собрать достаточное количество «цепочек» исправлений.</li>
            <li>Учитывать данные о кратком описании статьи для повышения качества оценки.</li>
            <li>Использовать модели машинного обучения для обработки самого текста.</li>
        </ul>

    </p>
{% endblock content %}
