{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row mt-5"></div>
    <form action="/create_title/" method="post" id="post-form">

        {% crispy title_form %}
        {% csrf_token %}

    </form>
    <div class="row mt-3">
        <div class="col-9">
            <div id="title">
                <p>Введите название IT-публикации. Приложение оценит его по 10-балльной шкале читаемости и подскажет, как улучшить заголовок.</p>
            </div> 
            <div class="row mt-3"></div>
            <div id="suggest" class="block"></div>
            <div class="row mt-3"></div>
            <div><a id="link-titles" href="#">Предыдущие результаты</a></div>
            <div id="titles"></div>
        </div>
        <div class="col-3" id="explanation"></div>
    </div>
   
{% endblock content %}
